@import "src/styles";

.footer-background {
    background-color: background-color(dark-grey);
}

.social-media-icon {
    font-size: 2.5rem;
    transition-property: color;
    transition-duration: 0.2s;
}

.social-media-icon:hover {
    color: $primary-color;
}

.facebook-icon {
    color: social-media-icon-color("facebook");
}

.github-icon {
    color: social-media-icon-color("github");
}