<footer class="footer mt-auto py-3 footer-background">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-3">
            <span class="col d-flex d-sm-block justify-content-center">
                <a class="social-media-link me-3" href="#"><fa-icon class="social-media-icon facebook-icon" [icon]="faFacebook"></fa-icon></a>
                <a class="social-media-link" href="#"><fa-icon class="social-media-icon github-icon" [icon]="faGithub"></fa-icon></a>
            </span>
            <span class="col mb-3 mb-sm-0 mt-5 mt-sm-0 d-flex justify-content-center align-items-center text-white"><strong>Giancarlo Margheritti Colina &copy; 2021</strong></span>
        </div>
    </div>
</footer>
