$primary-color: #E6D05E;

$social-media-icons-colors: (
    "facebook": #1877F2,
    "github": #DE9E20
);

$backgrounds-colors: (
    "dark-grey": #2B2B2B,
    "light-grey": #515151,
    "green": #48D17A,
    "dark-green": #2F9440,
    "violet": #B644BE,
    "light-blue": #3C80BC
);

@function social-media-icon-color($color-name) {
    @return map-get($social-media-icons-colors, $color-name);
}

@function background-color($color-name) {
    @return map-get($backgrounds-colors, $color-name);
}