<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-background">
            <div class="modal-header border-0 container pb-0">
                <div class="row w-100 m-auto">
                    <img class="col-5 mt-3" src="assets/img/replicas_movie_poster.jpg" alt="Movie Poster">

                    <div class="col position-relative">
                        <div class="movie-rating text-white rounded-circle d-flex justify-content-center align-items-center
                        m-auto mt-3">
                            <strong>98</strong>
                        </div>

                        <div class="progress mt-4 rounded-pill bg-transparent position-relative">
                            <p class="position-absolute text-white bg-transparent my-1 ms-2"><strong>Metacritic</strong></p>
                            <p class="position-absolute text-white bg-transparent end-0 my-1 me-2"><strong>65</strong></p>
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="progress mt-3 rounded-pill bg-transparent position-relative">
                            <p class="position-absolute text-white bg-transparent my-1 ms-2"><strong>IMDb</strong></p>
                            <p class="position-absolute text-white bg-transparent end-0 my-1 me-2"><strong>68</strong></p>
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="progress mt-3 rounded-pill bg-transparent position-relative">
                            <p class="position-absolute text-white bg-transparent my-1 ms-2"><strong>Letterboxd</strong></p>
                            <p class="position-absolute text-white bg-transparent end-0 my-1 me-2"><strong>69</strong></p>
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="progress mt-3 rounded-pill bg-transparent position-relative">
                            <p class="position-absolute text-white bg-transparent my-1 ms-2"><strong>Audience Other</strong></p>
                            <p class="position-absolute text-white bg-transparent end-0 my-1 me-2"><strong>70</strong></p>
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        
                        <button type="button" class="bg-transparent border-0 text-white py-0 position-absolute top-0 end-0" data-bs-dismiss="modal" aria-label="Close"><fa-icon class="modal-icon" [icon]="faTimes"></fa-icon></button>
                    </div>
                </div>
            </div>

            <div class="modal-body container">
                <p class="description text-white fw-bold">Lorem ipsum dolor sit amet.</p>
                <p class="description custom-text-secondary my-1">1975</p>
                <p class="description custom-text-secondary">Drama, Crime</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
