@import "src/styles";


.description {
    font-size: 0.8rem;
}

.trailer-button {
    background-color: $primary-color;
    font-size : 1rem;
}

.trailer-button:hover {
    background-color: white;
}

.amazon-button {
    background-color: background-color("dark-green");
}

.amazon-button:hover {
    background-color: lighten($color: background-color("dark-green"), $amount: 30%);
}

.itunes-button {
    background-color: background-color("violet");
}

.itunes-button:hover {
    background-color: lighten($color: background-color("violet"), $amount: 30%);
}

.blu-ray-button {
    background-color: background-color("light-blue");
}

.blu-ray-button:hover {
    background-color: lighten($color: background-color("light-blue"), $amount: 30%);
}

.modal-background {
    font-size: 1.2rem;
    background-color: background-color("dark-grey");
    border-radius: 15px;
}

.movie-circle-rating {
    font-size: 2rem;
    width: 70px;
    height: 70px;
    background-color: background-color("green");
}

.modal-icon {
    transition-property: color;
    transition-duration: 0.2s;
}

.modal-icon:hover {
    color: $primary-color;
}

.custom-progress {
    height: 25px;
}

.custom-progress-bar {
    background-color: background-color("light-grey");
}

.custom-modal-body {
    padding-left: 1.4em;
}

.custom-text-secondary {
    color: rgba($color: white, $alpha: 0.7);
}

.custom-button {
    font-size: 0.8rem;
}