@import "src/styles";

.main-background {
    background-color: black;
}

.movie > div {
    display: none;
    background-color: rgba($color: black, $alpha: 0.5);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.movie:hover > div {
    display: flex;
    opacity: 1;
}

.movie-button {
    font-size: 2rem;
    border: none;
    cursor: pointer;
    background-color: $primary-color;
    border: solid 1px $primary-color;
    transition-property: color, background-color, border-color;
    transition-duration: 0.2s;
}

.movie-button:hover {
    color: white;
    background-color: black;
    border-color: white;
}

.movie-rating {
    font-size: 2rem;
    padding: 0.4em 0.6em;
    background-color: background-color("dark-grey");
    opacity: 0.9;
}

.page-button {
    padding: 0.3em 0.8em;
}

@media (min-width: 576px) { 
    .movie-button, .movie-rating {
        font-size: 1.2rem;
    }
}