<main class="main-background h-100 py-5">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <span class="me-2 text-white">Sort by: </span>

                <select class="select-background text-white border-0 rounded-3 py-1 px-2 me-2">
                    <option value="">Popularity</option>
                </select>

                <select class="select-background text-white border-0 rounded-3 py-1 px-2">
                    <option value="1">
                        Ascending
                    </option>

                    <option value="2">
                        Descending
                    </option>
                </select>
            </div>

            <div class="col-3 d-flex justify-content-end">
                <select class="select-background text-white border-0 rounded-3 py-1 px-2">
                    <option value="">10</option>
                    <option value="">15</option>
                    <option value="">20</option>
                </select>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row m-0">
            <div class="position-relative col-12 col-md-6 col-lg-4 p-4">
                <img class="w-100 h-auto" src="assets/img/replicas_movie_poster.jpg" alt="">
                <div class="position-absolute top-0 end-0">
                    98
                </div>
            </div>

            <div class="position-relative col-12 col-md-6 col-lg-4 p-4">
                <img class="w-100 h-auto" src="assets/img/replicas_movie_poster.jpg" alt="">
                <div class="position-absolute top-0 end-0">
                    98
                </div>
            </div>

            <div class="position-relative col-12 col-md-6 col-lg-4 p-4">
                <img class="w-100 h-auto" src="assets/img/replicas_movie_poster.jpg" alt="">
                <div class="position-absolute top-0 end-0">
                    98
                </div>
            </div>
        </div>
    </div>
</main>