/* You can add global styles to this file, and also import other style files */

@import "src/sass/helpers/variables";

.gray-button {
    background-color: background-color("light-grey");
    -moz-appearance: none; 
    -webkit-appearance: none;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.gray-button:hover {
    background-color: lighten($color: background-color("light-grey"), $amount: 20%);
}

.gray-button--select:focus {
    background-color: background-color("light-grey");
}